/* line 10, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
*[class^="g-col__"] {
  width: 100%;
}

/* line 13, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
*[class^="g-col__"]:last-child {
  float: right;
  margin-right: 0;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__1 {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__2 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__5 {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__7 {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__8 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__9 {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__10 {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
}

/* line 21, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-col__11 {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
}

@media (min-width: 768px) {
  /* line 31, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
  .g-col__0--sm {
    width: -1.69492%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 1000px) {
  /* line 42, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
  .g-col__0--md {
    width: -1.69492%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 48, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.g-row {
  *zoom: 1;
}
/* line 38, ../../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.g-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.container {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  max-width: 92%;
}

/* line 58, ../../../app/assets/stylesheets/globals/framework/_grid.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 5, ../../../app/assets/stylesheets/globals/framework/_forms.scss */
.form {
  *zoom: 1;
}
/* line 38, ../../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.form:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../../../app/assets/stylesheets/globals/framework/_forms.scss */
.form__group {
  margin-bottom: 15px;
}

/* line 11, ../../../app/assets/stylesheets/globals/framework/_forms.scss */
.form__group--add-on {
  position: relative;
}

/* line 14, ../../../app/assets/stylesheets/globals/framework/_forms.scss */
.form__group--add-on .form__control {
  padding-left: 35px;
}

/* line 17, ../../../app/assets/stylesheets/globals/framework/_forms.scss */
.form__add-on {
  position: absolute;
  top: 6px;
  left: 8px;
  color: #adadad;
  font-size: 20px;
}

/* line 28, ../../../app/assets/stylesheets/globals/framework/_forms.scss */
.input,
.select {
  width: 100%;
  outline: none;
  padding: 8px;
  border: 1px #cecfd4 solid;
  color: #333;
  border-radius: 2px;
}
/* line 37, ../../../app/assets/stylesheets/globals/framework/_forms.scss */
.input.input-error,
.select.input-error {
  border: 1px #e82532 solid;
}

/* line 45, ../../../app/assets/stylesheets/globals/framework/_forms.scss */
.form__group.hint--top {
  width: 100% !important;
}

/* line 1, ../../../app/assets/stylesheets/globals/includes/_overrides.scss */
html {
  padding: 0;
  margin: 0;
}

/* line 5, ../../../app/assets/stylesheets/globals/includes/_overrides.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  color: #000316;
  margin: 0;
  padding: 0;
}

/* line 12, ../../../app/assets/stylesheets/globals/includes/_overrides.scss */
a {
  text-decoration: none;
}

/* line 1, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.pull-right {
  float: right;
}

/* line 5, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.pull-left {
  float: left;
}

/* line 9, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.last-in-row {
  float: right;
  margin-right: 0;
}

/* line 13, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.right {
  text-align: right !important;
}

/* line 17, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.left {
  text-align: left !important;
}

/* line 21, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.center {
  text-align: center !important;
}

/* line 25, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.oneline {
  white-space: nowrap;
}

/* line 29, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.italic {
  font-style: italic;
}

/* line 33, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.bold {
  font-weight: bold;
}

/* line 37, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.head-1 {
  font-size: 60px;
  line-height: 46px;
  font-weight: bold;
}

/* line 43, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.head-2-light {
  font-size: 28px;
  line-height: 28px;
  font-weight: 300 !important;
}

/* line 49, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.light {
  font-weight: 300;
}

/* line 53, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.bold {
  font-weight: bold;
}

/* line 56, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.text-right {
  text-align: right;
}

/* line 59, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.text-left {
  text-align: left;
}

/* line 62, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.text-center {
  text-align: center;
}

/* line 66, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.row-v {
  display: table;
}

/* line 70, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.column-v {
  display: table-cell;
  vertical-align: middle;
}

/* line 75, ../../../app/assets/stylesheets/globals/includes/_global.scss */
input[readonly="readonly"], textarea[readonly="readonly"] {
  background: #f2f2f2;
}

/* line 79, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.small-info {
  color: #474747;
  padding: 0 0 0 5px;
  margin: 5px 0 10px 0;
  border-left: 3px #e82532 solid;
  display: block;
  text-align: left;
}

/* line 88, ../../../app/assets/stylesheets/globals/includes/_global.scss */
body .white-bg {
  background: white;
}

/* line 92, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.overflow-y-auto {
  overflow: hidden;
  overflow-y: auto;
}

/* line 97, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.v-offset-10 {
  height: 10px;
}

/* line 101, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.only-print {
  display: none;
}

/* line 105, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.hr--border {
  border-bottom: 1px solid #cecfd4;
}

/* line 109, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.w100 {
  width: 100% !important;
}

/* line 113, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.padding25 {
  padding: 25px;
}

/* line 118, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.section:before, [class^="section--"]:before, .section:after, [class^="section--"]:after, .cf:before, .cf:after {
  content: " ";
  display: table;
}
/* line 124, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.section:after, [class^="section--"]:after, .cf:after {
  clear: both;
}

/* line 133, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
}

/* line 139, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.ember-hide {
  display: none !important;
}

/* line 143, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.scrollable {
  overflow: scroll;
}

/* line 147, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 151, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.picker__holder {
  z-index: 100;
}

/* line 154, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.iscroll-wrapper {
  position: relative;
  width: 100%;
}

/* line 160, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.sound-on .sound-on-icon {
  display: inline-block;
}
/* line 163, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.sound-on .sound-off-icon {
  display: none;
}

/* line 169, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.sound-off .sound-on-icon {
  display: none;
}
/* line 172, ../../../app/assets/stylesheets/globals/includes/_global.scss */
.sound-off .sound-off-icon {
  display: inline-block;
}

/* line 1, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.red {
  color: #e82532;
}

/* line 4, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.red-color {
  color: #e82532;
}

/* line 8, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.green-color {
  color: #21b337;
}

/* line 12, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.light-grey-color {
  color: #9da0a3;
}

/* line 16, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.dark-grey-color {
  color: #474747;
}

/* line 20, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.disabled {
  color: #cecfd4;
}

/* line 24, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.sand-bg {
  background-color: #f5f0eb;
}

/* line 27, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.grey-bg {
  background-color: #dddddd;
}

/* line 30, ../../../app/assets/stylesheets/globals/includes/_colors.scss */
.grey-extra-light-bg {
  background-color: #f2f2f2;
}

/* line 1, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn {
  background: none;
  border: none;
  font-weight: 500;
  padding: 7px 12px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}
/* line 10, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-big {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
}
/* line 15, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-sm {
  width: 120px;
  padding: 5px 10px;
  font-size: 15px;
}
/* line 20, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-md {
  width: 120px;
  padding: 11px 16px;
  font-size: 16px;
}
/* line 25, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-lg {
  width: 130px;
  padding: 12px 17px;
  font-size: 18px;
}
/* line 30, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-modify {
  width: 100%;
  font-size: 16px;
  padding: 15px 12px;
  text-align: center;
}
/* line 36, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-lg-square {
  width: 62px;
  height: 62px;
  padding: 0;
  line-height: 62px;
  text-align: center;
  font-size: 32px;
}
/* line 43, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-lg-square i {
  margin: 0;
}
/* line 48, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-full {
  width: 100%;
}
/* line 52, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-grey {
  background: white;
  border: 1px #eeeeee solid;
}
/* line 56, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.no-touch .btn.btn-grey:hover:enabled {
  border-color: #9da0a3;
}
/* line 60, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-grey:active {
  border-color: #474747;
}
/* line 63, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-grey.active {
  background: #e82532;
  border-color: #e82532;
  color: white;
}
/* line 70, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-white {
  background: white;
  border: 1px white solid;
}
/* line 74, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-white:hover, .btn.btn-white:active, .btn.btn-white:focus, .btn.btn-white.active {
  background: #e82532;
  border-color: #e82532;
  color: white;
}
/* line 81, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-green {
  background: #21b337;
  border: 1px #21b337 solid;
  color: white;
}
/* line 86, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.no-touch .btn.btn-green:hover:enabled, .btn.btn-green:hover {
  border-color: #00d420;
  background: #00d420;
}
/* line 91, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-green:active {
  border-color: #18974b;
  background: #18974b;
}
/* line 96, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-green:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 101, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-red {
  background: #e82532;
  color: white;
}
/* line 104, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.no-touch .btn.btn-red:hover {
  background: #ed371c;
}
/* line 108, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn.btn-touchmode {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold !important;
}
/* line 114, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn i {
  margin-right: 5px;
}

/* line 119, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
a.btn {
  display: block;
}

/* line 123, ../../../app/assets/stylesheets/globals/includes/_buttons.scss */
.btn-touchmode-wrapper {
  text-align: right !important;
  padding-right: 10px !important;
}

/* line 1, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-row {
  clear: both;
  width: 100%;
  float: left;
}

/* line 5, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-inline {
  display: inline-block;
}
/* line 7, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-inline .form-field {
  display: inline-block;
  margin: 0 15px;
  width: auto !important;
}

/* line 14, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group {
  margin-bottom: 15px;
  width: 100%;
  width: 100%;
  float: left;
}
/* line 19, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group.half {
  width: 47.94521%;
  float: left;
  margin-right: 4.10959%;
}
/* line 22, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group.half:last-child {
  float: right;
  margin-right: 0;
}
/* line 27, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group.add-on {
  position: relative;
}
/* line 30, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group.add-on .form-field {
  padding-left: 35px;
}
/* line 34, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group.add-on .oi {
  position: absolute;
  top: 7px;
  left: 15px;
  color: #adadad;
  font-size: 18px;
}
/* line 42, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group.add-on .oi + input:focus {
  color: #000316;
}
/* line 47, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group.arrow:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #bebebe transparent transparent transparent;
  z-index: 1;
  top: 14px;
  right: 15px;
}

/* line 61, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  padding: 8px;
  border: 1px #cecfd4 solid;
  color: #000316;
  border-radius: 2px;
}
/* line 29, ../../../app/assets/stylesheets/globals/includes/_mixins.scss */
.form-field ::-webkit-input-placeholder {
  color: #9da0a3;
}
/* line 30, ../../../app/assets/stylesheets/globals/includes/_mixins.scss */
.form-field :-moz-placeholder {
  color: #9da0a3;
}
/* line 31, ../../../app/assets/stylesheets/globals/includes/_mixins.scss */
.form-field ::-moz-placeholder {
  color: #9da0a3;
}
/* line 32, ../../../app/assets/stylesheets/globals/includes/_mixins.scss */
.form-field :-ms-input-placeholder {
  color: #9da0a3;
}

/* line 76, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.checkbox-full {
  position: absolute;
  right: 10px;
  top: 12px;
}

/* line 81, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.form-group--checkbox-full {
  position: relative;
}

/* line 84, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.label--checkbox-full {
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  padding: 8px;
  border: 1px #cecfd4 solid;
  display: block;
  text-align: left;
  border-radius: 5px;
}
/* line 93, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.label--checkbox-full.text-center {
  text-align: center;
}

/* line 101, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
.input-error {
  border: 1px #e82532 solid;
}

/* line 105, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
select {
  width: 100% !important;
  height: 34px !important;
  cursor: pointer;
}

/* line 111, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
span.customSelect {
  width: 100% !important;
  height: 34px !important;
  overflow: hidden;
  font-size: 13px;
  color: #9da0a3;
  padding-right: 25px;
}
/* line 119, ../../../app/assets/stylesheets/globals/includes/_forms.scss */
span.customSelect span {
  width: 100% !important;
}

/* line 1, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
/* line 14, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog > div {
  width: 500px;
  position: relative;
  margin: 5% auto;
  padding: 38px 30px 30px 30px;
  border-radius: 4px;
  background: white;
  text-align: center;
}
/* line 24, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog p {
  margin: 0 0 20px 0;
  line-height: 22px;
  font-size: 15px;
}
/* line 30, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 34, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .form-group textarea {
  width: 100%;
  padding-left: 30px;
  resize: none;
}
/* line 40, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .form-group .email {
  height: 125px;
}
/* line 44, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .form-group .error-text {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #e82532;
}
/* line 53, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .subject-input {
  margin: 0px;
}
/* line 57, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .controls {
  vertical-align: middle;
  margin: 0 0 20px 0;
  display: inline-table;
}
/* line 62, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .controls tr td {
  height: 20px;
  vertical-align: middle;
}
/* line 66, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .controls tr td:last-child, .modal-dialog .controls tr td:nth-last-child(3) {
  padding-left: 5px;
}
/* line 70, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .controls .switch {
  height: 20px;
  cursor: pointer;
}
/* line 75, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .controls .disabled {
  cursor: default !important;
}
/* line 80, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog button {
  margin-left: 8px;
  width: 80px;
}
/* line 85, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .btn-4 {
  width: 200px;
  height: 50px;
  vertical-align: middle;
}
/* line 91, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-dialog .margin-select {
  margin-bottom: 10px;
}

/* line 96, ../../../app/assets/stylesheets/globals/includes/_modal.scss */
.modal-fluid > div {
  width: 60%;
}

/* line 1, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator {
  font-size: 15px;
}
/* line 2, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator input {
  font-size: 16px;
  height: 40px;
  width: calc(100% - 20px);
  padding: 0 10px;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}
/* line 10, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator input.btn-red {
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 17, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator input.btn-red:hover {
  font-size: 19px !important;
}
/* line 23, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .form__group input.btn {
  font-size: 18px;
}
/* line 27, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #21b337 inset;
  box-shadow: 0 0 0 1px #21b337 inset;
}
/* line 32, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator #logo {
  height: 40px;
}
/* line 35, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator #cross {
  width: 100px;
  height: 100px;
}
/* line 39, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .header-nav {
  border-bottom: 1px solid #dddddd;
}
/* line 42, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .nav {
  list-style: none;
}
/* line 44, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .nav li {
  display: inline-block;
  margin-left: 20px;
}
/* line 47, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .nav li a {
  font-family: 'Montserrat', sans-serif;
  color: #9da0a3;
  font-size: 14px;
}
/* line 54, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator h1, #landing-calculator h2, #landing-calculator h3, #landing-calculator h4, #landing-calculator h5, #landing-calculator h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
}
/* line 58, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator h1 {
  font-size: 50px;
  margin: 10px 0;
}
/* line 62, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator h2 {
  font-weight: normal;
  font-size: 28px;
  margin-top: 30px;
}
/* line 67, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator h3 {
  font-size: 24px;
}
/* line 71, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .main p {
  max-width: 500px;
  margin: 0 auto 20px auto;
  display: block;
}
/* line 77, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .offset {
  width: 100%;
  height: 60px;
}
/* line 82, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .former {
  max-width: 400px;
  margin: 0 auto;
}
/* line 86, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box {
  margin: 40px 0 0 0;
}
/* line 88, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .calc-body {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
/* line 92, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 98, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box header p {
  margin: 0 0 20px 0;
}
/* line 102, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .col-left, #landing-calculator .calculator-box .col-right {
  position: relative;
}
/* line 104, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .col-left .wrapper, #landing-calculator .calculator-box .col-right .wrapper {
  padding: 40px;
}
/* line 109, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .col-left {
  width: 50%;
  float: left;
}
/* line 113, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .col-left .form-group-calc {
  margin: 20px 0 0 0;
}
/* line 114, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .col-left .form-group-calc label {
  line-height: 40px;
  font-weight: bold;
}
/* line 119, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .col-left .form-group-calc .field-calculator {
  height: 40px;
  float: right;
  width: 90px;
  padding: 0 10px;
  border: 1px solid #dddddd;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}
/* line 129, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .col-left .form-group-calc .field-calculator:focus {
  border-radius: 5px;
}
/* line 135, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .calculator-box .col-right {
  width: 50%;
  float: right;
  border-left: 1px solid #dddddd;
  margin-left: -1px;
}
/* line 143, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .form-group-calc {
  overflow: hidden;
  *zoom: 1;
}
/* line 147, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .tractor {
  color: white;
  padding: 60px 0 20px 0;
  background: url("") no-repeat center;
  -webkit-background-size: cover cover;
  background-size: cover;
}
/* line 152, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .tractor h2 {
  font-size: 46px;
}
/* line 155, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .tractor p {
  font-size: 26px;
}
/* line 158, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .tractor .arrow {
  width: 64px;
  height: 64px;
}
/* line 165, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .table-simple {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 30px 0;
}
/* line 169, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .table-simple td, #landing-calculator .table-simple th {
  height: 40px;
  text-align: right;
  vertical-align: middle;
}
/* line 173, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .table-simple td:first-child, #landing-calculator .table-simple th:first-child {
  text-align: left;
}
/* line 177, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .table-simple td {
  font-weight: bold;
}
/* line 179, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .table-simple td:first-child {
  font-weight: normal;
}
/* line 183, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .table-simple tr {
  border-bottom: 1px solid #dddddd;
}
/* line 187, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .table-simple tbody tr:last-child {
  border-bottom: 0;
}
/* line 193, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .cta-mail h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
/* line 198, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator footer {
  background: #474747;
  color: white;
  padding: 15px 0;
}
/* line 202, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator footer #foot-logo {
  width: auto;
  height: 30px;
}
/* line 206, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator footer span {
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}
/* line 211, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .only-mobile {
  display: none;
}
/* line 214, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .blinking-red {
  -webkit-animation-name: redblinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: redblinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: redblinker;
  animation-name: redblinker;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* line 229, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator .blinking-red:hover {
  -webkit-animation: 0;
  animation: 0;
}
/* line 235, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
#landing-calculator #thanks {
  border-radius: 5px;
  border: 1px solid red;
  padding: 10px;
  font-weight: normal;
}
@-webkit-keyframes redblinker {
  /* line 251, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
  0% {
    -webkit-box-shadow: 0 0 0 1px #e82532 inset;
    box-shadow: 0 0 0 1px #e82532 inset;
  }

  /* line 252, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
  50% {
    -webkit-box-shadow: 0 0 0 1px transparent inset;
    box-shadow: 0 0 0 1px transparent inset;
  }

  /* line 253, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
  100% {
    -webkit-box-shadow: 0 0 0 1px #e82532 inset;
    box-shadow: 0 0 0 1px #e82532 inset;
  }
}
@keyframes redblinker {
  /* line 257, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
  0% {
    -webkit-box-shadow: 0 0 0 1px #e82532 inset;
    box-shadow: 0 0 0 1px #e82532 inset;
  }

  /* line 258, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
  50% {
    -webkit-box-shadow: 0 0 0 1px transparent inset;
    box-shadow: 0 0 0 1px transparent inset;
  }

  /* line 259, ../../../app/assets/stylesheets/calculator/includes/_global.scss */
  100% {
    -webkit-box-shadow: 0 0 0 1px #e82532 inset;
    box-shadow: 0 0 0 1px #e82532 inset;
  }
}
@media screen and (max-width: 768px) {
  /* line 5, ../../../app/assets/stylesheets/calculator/includes/_media.scss */
  #landing-calculator .calculator-box .col-left, #landing-calculator .calculator-box .col-right {
    width: 100%;
  }
  /* line 7, ../../../app/assets/stylesheets/calculator/includes/_media.scss */
  #landing-calculator .calculator-box .col-left .wrapper, #landing-calculator .calculator-box .col-right .wrapper {
    padding: 30px;
  }
  /* line 11, ../../../app/assets/stylesheets/calculator/includes/_media.scss */
  #landing-calculator .calculator-box .col-right {
    border: 0;
    margin: 0;
  }
  /* line 17, ../../../app/assets/stylesheets/calculator/includes/_media.scss */
  #landing-calculator footer #foot-logo {
    display: block;
    float: none;
    margin: 0 auto 20px auto;
  }
  /* line 22, ../../../app/assets/stylesheets/calculator/includes/_media.scss */
  #landing-calculator footer span {
    width: 100%;
    display: block;
    text-align: center;
    float: none;
  }

  /* line 30, ../../../app/assets/stylesheets/calculator/includes/_media.scss */
  .hide-mobile {
    display: none !important;
  }

  /* line 33, ../../../app/assets/stylesheets/calculator/includes/_media.scss */
  .only-mobile {
    display: block !important;
  }
}
/*! Hint.css (base version) - v1.3.3 - 2014-07-06
* http://kushagragour.in/lab/hint/
* Copyright (c) 2014 Kushagra Gour; Licensed MIT */
/*-------------------------------------*\
  HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 *  1) body (:after)
 *  2) arrow (:before)
 *
 * Classes added:
 *  1) hint
 */
/* line 28, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint, [data-hint] {
  position: relative;
  display: inline-block;
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */
}

/* line 37, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint:before, .hint:after, [data-hint]:before, [data-hint]:after, [data-hint-light]:before, [data-hint-light]:after, [data-hint-green]:before, [data-hint-green]:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

/* line 55, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after, [data-hint-light]:hover:before, [data-hint-light]:hover:after, [data-hint-light]:focus:before, [data-hint-light]:focus:after, [data-hint-green]:hover:before, [data-hint-green]:hover:after, [data-hint-green]:focus:before, [data-hint-green]:focus:after {
  visibility: visible;
  opacity: 1;
}

/* line 58, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint:hover:before, .hint:hover:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint-light]:hover:before, [data-hint-light]:hover:after, [data-hint-green]:hover:before, [data-hint-green]:hover:after {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

/* line 62, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint:before, [data-hint]:before, [data-hint-light]:before, [data-hint-green]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}

/* line 68, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint:after, [data-hint]:after, [data-hint-light]:after, [data-hint-green]:after {
  content: attr(data-hint);
  background: #383838;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: pre;
}

/* line 78, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right--light:after, [data-hint-light]:after {
  content: attr(data-hint-light);
  background: rgba(255, 255, 255, 0.9);
  color: #9da0a3;
}

/* line 84, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right--green:after, [data-hint-green]:after {
  content: attr(data-hint-green);
  background: rgba(33, 179, 55, 0.9);
  color: white;
}

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 *  1) hint--top
 *  2) hint--bottom
 *  3) hint--left
 *  4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
/* line 104, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--top:before {
  border-top-color: #383838;
}

/* line 107, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--bottom:before {
  border-bottom-color: #383838;
}

/* line 110, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--left:before {
  border-left-color: #383838;
}

/* line 113, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right:before {
  border-right-color: #383838;
}

/* line 116, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right--light:before {
  border-right-color: #FFF;
}

/* line 120, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right--green:before {
  border-right-color: #21b337;
}

/**
 * top tooltip
 */
/* line 127, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--top:before {
  margin-bottom: -12px;
}

/* line 129, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--top:after {
  margin-left: -18px;
}

/* line 131, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 50%;
}

/* line 134, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--top:hover:after, .hint--top:hover:before, .hint--top:focus:after, .hint--top:focus:before {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}

/**
 * bottom tooltip
 */
/* line 142, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--bottom:before {
  margin-top: -12px;
}

/* line 144, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--bottom:after {
  margin-left: -18px;
}

/* line 146, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--bottom:before, .hint--bottom:after {
  top: 100%;
  left: 50%;
}

/* line 149, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--bottom:hover:after, .hint--bottom:hover:before, .hint--bottom:focus:after, .hint--bottom:focus:before {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}

/**
 * right tooltip
 */
/* line 157, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right:before {
  margin-left: -12px;
  margin-bottom: -6px;
}

/* line 160, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right:after {
  margin-bottom: -14px;
}

/* line 162, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right:before, .hint--right:after {
  left: 100%;
  bottom: 50%;
}

/* line 165, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--right:hover:after, .hint--right:hover:before, .hint--right:focus:after, .hint--right:focus:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/**
 * left tooltip
 */
/* line 173, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--left:before {
  margin-right: -12px;
  margin-bottom: -6px;
}

/* line 176, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--left:after {
  margin-bottom: -14px;
}

/* line 178, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--left:before, .hint--left:after {
  right: 100%;
  bottom: 50%;
}

/* line 181, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--left:hover:after, .hint--left:hover:before, .hint--left:focus:after, .hint--left:focus:before {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
}

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 *  1) hint--always
 *
 */
/* line 195, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--always:after, .hint--always:before {
  opacity: 1;
  visibility: visible;
}

/* line 198, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--always.hint--top:after, .hint--always.hint--top:before {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* line 202, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}

/* line 206, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--always.hint--left:after, .hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
}

/* line 210, ../../../app/assets/stylesheets/ember/framework/_tooltips.scss */
.hint--always.hint--right:after, .hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}
